extends base.pug

block scripts
  script(src='/static/index.js')
 
block style
    style
      include ../static/about.css
block content
    div.container
        h1 ABOUT US
        p This is the Best Dance Academy of the Universe and we are providing a top facilities in our institute like online Dance class with our trained teachers ipsum dolor sit amet consectetur adipisicing elit. Ab, est. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam quod ducimus ratione, delectus corrupti quae quidem vitae! Eligendi tenetur fugit, voluptatum beatae odit, exercitationem maiores, quae amet et blanditiis sit reprehenderit sapiente velit. Sequi repellat deserunt hic impedit doloremque recusandae sunt odit, veniam a repudiandae placeat nesciunt culpa soluta eum inventore fuga voluptatum dignissimos praesentium molestias et officia consectetur minus exercitationem.
        br
        p Libero qui odio adipisci. Est possimus sit vero, error unde, voluptatum veniam velit autem voluptates perspiciatis optio dolorem laboriosam voluptatem corrupti totam reiciendis! Laborum inventore neque, cum odit amet quod alias facilis! Atque, aut incidunt aliquam excepturi assumenda veniam iste porro voluptas aspernatur. Placeat, vero error. Quod sit aut alias exercitationem dolorem consequuntur nemo quaerat quidem commodi accusamus quam nobis ad in sequi totam dolorum veniam quisquam sint nihil tempore perferendis. 
        br
        p Deleniti aliquam alias quibusdam expedita! Necessitatibus, eius! Enim blanditiis deleniti cupiditate perferendis error? Exercitationem sapiente, officiis ipsam culpa perferendis porro, consectetur, repellendus aut quos illo doloremque. Necessitatibus, libero provident modi quidem sed voluptate, commodi ipsa nisi delectus alias nesciunt molestias. Voluptatem, porro. Quasi laboriosam, blanditiis sunt optio deserunt magni nam maiores praesentium cumque! Delectus quaerat laboriosam aliquam eos eaque, perferendis nulla expedita accusantium eum repellat ducimus distinctio officiis exercitationem, facere minima est voluptas dignissimos aperiam explicabo sed quod mollitia accusamus illum? Debitis error asperiores minus consequuntur minima ab facilis non incidunt alias dicta libero obcaecati, magni
    