doctype html
html
    head
        title Sharad Dance Academy
        block scripts   
        block style
        style
            include ../static/base.css
    body
        nav#navbar
                ul
                    div#logo 
                        img(src="/static/img/logo.png", )
                        | SDA
                    li #[a(href="/") Home]
                    li #[a(href="/about") About]
                    //li #[a(href="/services") Services]
                    //li #[a(href="/class") Class Info]
                    li #[a(href="/contact") Contact Us]
        block content 
        div.container
                //- img(src="/static/img/jaguar.png", alt="school boy")
                //- img(src="/static/img/jaguar.png", alt="school boy")
                //- img(src="/static/img/jaguar.png", alt="school boy")
                
                               
        footer#footer
            | Copyright2020 © SharadDanceAcademy.com | All Right Reserved